@tailwind base;
@tailwind components;
@tailwind utilities;

[data-floating-ui-portal] {
  position: absolute !important;
  z-index: 9999 !important;
}

::-webkit-scrollbar {
  width: 3px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #cdcdcd;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  opacity: 0.5;
  border-radius: 25px;
  cursor: pointer;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.calendar-menu {
  min-width: 60vw;
}

@media (max-width: 640px) {
  
  .calendar-day {
    width: 0rem;
  }

  .calendar-menu {
    min-width: 95vw;
    padding: 10px;
  }

  .calendar-controls {
    min-width: 100%;
  }

}

@media (min-width: 640px) {
  
  .calendar-menu {
    min-width: 60vw;
  }

}

